spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/approval_workflow
    username: app
    password: app
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true

logging:
  level:
    org.hibernate.SQL: debug
